body {
    width: 100vw;
}

.container {
    max-width: 600px;
}

.theme {
    display: flex;
    gap: .5rem;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 30px;

}

.chat-list {
    max-height: 300px;
}

#name {
    color: gray;
}

#name:focus {
    color: black;
}

.name-feedback {
    font-size: 0.7;
}

[data-bs-theme=dark] #name:focus {
    color: white;
}