:root {
    --light-color: #F7F4F0;
    --primary-color: #406C29;
}

[data-bs-theme="dark"] {
    --light-color: #121212;
}

body {
    width: 100vw;
    background: var(--light-color);
}

.container {
    max-width: 600px;
}

.theme {
    display: flex;
    gap: .5rem;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 30px;

}

.chat-list {
    max-height: 300px;
}

.list-group-item {
    background: var(--bg);
}

#name {
    color: gray;
}

#name:focus {
    color: black;
}

.name-feedback {
    font-size: 0.7em;
}

[data-bs-theme=dark] #name:focus {
    color: white;
}