.container {
    max-width: 600px;
}

.chat-list {
    max-height: 300px;
}

#name {
    color: gray;
}

#name:focus {
    color: black;
}

.name-feedback {
    font-size: 0.7;
}

[data-bs-theme=dark] #name:focus {
    color: white;
}